// colors

// primary

$light-cyan: hsl(193, 38%, 86%);
$neon-green: hsl(150, 100%, 66%);

// neutral

$grayish-blue: hsl(217, 19%, 38%);
$grayish-dark: hsl(217, 19%, 24%);
$dark-blue: hsl(218, 23%, 16%);

// typography

$fw-700: 800;
$fs-base: 1.75rem;
$ff-base: 'Manrope', sans-serif;
