<main>
    <article class="card">
        <h1>Advice #<span class="number"></span></h1>
        <q><span class="quote"></span></q>
        <img class="divider" src="svg/pattern-divider-desktop.svg" alt="">

    </article>
    <button class="get-advice">
        <span class="sr-only">Generate random advice</span>
        <img aria-hidden="true" class="button-img" src="svg/icon-dice.svg" alt=""></button>
</main>